<nav *ngIf="auth.jwtPayload != null" class="navbar">
    <div class="container">
        <div class="p-grid">
            <div class="p-col-12">
                <a href="javascript:;" class="navbar-toogle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
            </div>
        </div>
    </div>
    <ul *ngIf="auth.jwtPayload != null" class="navbar-menu" [hidden]=!exibindoMenu>
        <li class="navbar-usuario">{{ auth.jwtPayload?.user_name }}</li>
        <li *ngIf="auth.verificarPermissao('ROLE_PESQUISAR_PESSOA')" class="navbar-menu-item" routerLinkActive="ativo"><a routerLink="/pessoas">Pessoas</a></li>
        <li *ngIf="auth.verificarPermissao('ROLE_PESQUISAR_LANCAMENTO')" class="navbar-menu-item" routerLinkActive="ativo"><a routerLink="/lancamentos">Lancamentos</a></li>
        <li class="navbar-menu-item" routerLinkActive="ativo"><a routerLink="/usuarios">Usuarios</a></li>
        <li class="navbar-menu-item" routerLinkActive="ativo"><a (click)="logout()" href="javascript:;">Sair</a></li>
    </ul>
</nav>